/********* Fonts **********/

:root {
	font-size: 16px;
}

/***< RESET >*************************************************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0; padding: 0;border: 0; font-size: 100%}
ol, ul {list-style: none;}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

/****** Main Styling ******/
body {
	font-family: 'Roboto', sans-serif;
	background: floralwhite;
}


/****************************************************/
/*   HEADER                                         */
/****************************************************/

header {
	color: #ffd6d6;
	background: #5a2c3b;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
}


/*---------------------------------------------------*/
/* header > LEFT SIDE                                */
/*---------------------------------------------------*/
.header--icon {
	padding: 0.5em 0.5em 0.5em 1em;
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: middle;
}
/* Hide the welcome message on mobile, since less space */
@media (min-width: 32em) {
  .header--icon {
    padding: 0.5em 1em;
  }
  header .header--title {
  	font-size: 1.4rem;
  }
  div .header--welcome {
    opacity: 1;
  }
  div input {
	width: 70vw;
  }

  div li input {
	 width: 50vw;
  }
}

.header--title {
	display: inline-block;
	font-weight: 500;
	font-size: 1rem;
	vertical-align: middle;
}

div .visible {
	display: block;
}
div .hidden {
	display: none;
}

/*---------------------------------------------------*/
/* header > RIGHT SIDE                               */
/*---------------------------------------------------*/
.header--right-side {
	position: absolute;
	right: 0;
    top: 1.2em;
	display: inline-block;
}

.header--welcome {
	opacity: 0;
	transition: opacity 0.4s;
}

.header--welcome.hidden {
	opacity: 0;
}

.header--user-fullname{
	font-weight: 400;
	display: none;
}
.header--user-fullname {
	display: inline-block;
}
.header--menu {
	text-decoration: none;
	padding: 6px;
	margin: 0;
	color: #f42f72;
}
.header--menu:visited {
	color: #f42f72;
}
.header--menu:hover {
	color: #ffb2ba;
}
.header--menu:active {
	color: #ffb2ba;
}


.root-container p, .container form {
	text-align: center;
	padding: 0;
}


header a ~ p {
	margin: 0;
	padding: 0;
	display: inline;
	color: #ECEFF1;
}

.display-name {

}

/****** Login Styling ******/

.login {
	margin: 86px auto 0 auto;
	text-align: center;
}

#login-btn {
	width: 225px;
	padding: 7px 5px;
}

.btn p {
	margin: 8px 0 0 0;
	padding: 0;
}

.btn > img {
	float: left;
	margin-left: 10px
}

/****** Logo Div Styling ******/

img {
	margin: 0 auto;
	display: inline-block;
}


/****** Click Styling ******/

.btn-container {	/* Styling for the div that contains the buttons */
	margin: -10px auto 0 auto;
	text-align: center;
}

.btn {	/* Styling for buttons */
	margin: 0 8px;
	color: white;
	background-color: #5a2c3b;
	display: inline-block;
	border: 0;
	font-size: 14px;
	border-radius: 3px;
	padding: 10px 5px;
	width: 100px;
	font-weight: 500;
}

.btn:focus {	/* Remove outline when hovering over button */
	outline: none;
}

.btn:active {	/* Scale the button down by 10% when clicking on button */
	transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	-moz-transform: scale(0.9, 0.9);
}

.btn-delete {	/* Styling for delete button */
	background-color: #ECEFF1;
	color: #212121;
}

#click-nbr {
	font-weight: 400;
}

/****** Profile Styling ******/

.github-profile {
	width: 350px;
	height: 200px;
	border-radius: 3px;
	margin: 86px auto 0 auto;
	background-color: #EEE;
	text-align: center;
	color: #000;
}

.github-profile p:first-child {
	padding-top: 16px;
}

.github-profile p:nth-child(5) {
	margin-bottom: 16px
}

.github-profile p {
	margin: 0 0 0 16px;
	text-align: left;
}

.profile-value {
	font-weight: 400;
}

span {
	font-weight: 500;
}

.github-profile > img {
	padding-top: 16px;
	margin-bottom: 16px;
}

.github-profile .menu:hover {
	color: #FFA000;
}

.github-profile .menu:active {
	color: #FF630D;
}

#menu-divide {
	color: #FFFFFF;
	display: inline;
	margin: 0;
}


.container {
	text-align: center;
	margin-top: 1.2em;
}

.poll-error-msg {
	padding: 0.4rem;
	color: #e28d8d;
	background: #fbe4e4;
}

ul {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 5px;
}

input {
	width: 80vw;
    margin: 0.2em;
   	padding: 0.4em;
}

li input {
	width: 80vw;
}

.poll-option {
	display: inline;
}

.hidden {
	display: none !important;
}

.wrong {
	border: 1px solid #e58282;
	box-shadow: inset 0px 0px 3px 0px #e58282;
}

button {
	padding: 0.4em;
}

label {
	display: block;
	margin-top: 10px;
}

button, input {
	border-radius: 4px;
}

.btn-add-option {
	margin: 0px auto;
	background: #efefef;
}

.btn-add-option, .btn-submit-poll {
	display: block;
}
.btn-submit-poll {
	background: #ffe4d8;
	margin: 10px auto 0;
}

